.file-upload {
  &.ant-form-item {
    display: flex;
    flex-direction: column;
  }
  label {
    &::after {
      content: none;
    }
  }
  .ant-form-item-control-input-content,
  .ant-form-item-control-input {
    height: calc(100% - 15px);
  }
  .ant-upload.ant-upload-drag {
    border: 1px solid #D1D4DE;
    border-radius: 8px;
    &:hover {
      border-color: #3868FE;
    }
  }
  .image-preview {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
}
