@import '../../css/variable.scss';

.ant-table-wrapper {
    overflow: auto;
}
.ant-table-thead {
  > tr > th {
    background-color: #EFEEEE;
    font-weight: 600;
    color: $text-color
  }
}
.ant-table-cell {
  color: $text-color;
}
.ant-table-tbody {
  > tr > td {
    padding: 13px;
  }
}
